<div class="for_you">
<h3 class="up">Primeiro precisamos de algumas informações</h3>
  <label>Pergunta 1</label>
<select class="browser-default center-align">
  <option value="" disabled selected>De qual tipo de Whisky você gosta?</option>
  <option value="1">Uniforme</option>
  <option value="2">Oleosa</option>
  <option value="3">Macia</option>
  <option value="4">Seca</option>
  <option value="5">Amarga</option>
  <option value="6">Ácido</option>
  <option value="7">Sulfúreos</option>
</select>
  <br/><br/>
  <label>Pergunta 2</label>
  <select class="browser-default center-align">
    <option value="" disabled selected>Qual tipo de sensação você quer sentir?</option>
    <option value="1">Formigamento</option>
    <option value="2">Aquecimento</option>
    <option value="3">Resfriamento</option>
  </select>
</div>