<div class="log_message">
  <div class="message">
    <h1>Você é maior que <b>18 anos</b>?</h1>
    <div class="choices">
      <a style="cursor: pointer" id="y" class="waves-effect waves-light btn yes">Sim</a>
      <a style="cursor: pointer" id="n" class="waves-effect waves-light btn no">Não</a>
    </div>
  </div>
</div>

<!---------Menu--------->
<div class="collection">
  <% @whisky.all_whisky['results'].each do |whisky| %>
  <a href="#!=" class="collection-item"><img style="width: 20px;height: 50px" src="<%= whisky['detail_img_url'] %>"><%= whisky['title'] %></a>
    <% end %>
</div>
  <div class="main">
  <div class="container-1">
    <div class="imgpep">
      <%= image_tag 'jack.png',width: 150, height: 550 %>
    </div>
    <div class="descri">
      <div class="mini">
        <h3>PEPSI NUTRITION FACTS</h3>
        <p>Calores 1150</p>
      </div>
      <div class="title">
        <h1>DELECIOUS <br>Red LLabel</h1>
        <h4>Johnnie Walker Red Label é um 'Blend Scotch Whisky' rico e incorporado. Tem uma seleção inigualável de mais de 35 maltes na sua composição que garantem a sua superioridade. Com aroma doce amadeirado, cravo-da-índia, doce de manteiga e sabor rico com mel.</h4>
      </div>
      <div class="btn_buy">
        <a href="">Buy now</a>
      </div>
    </div>
  </div>
</div>
