<div class="log_message">
  <div class="message">
    <h1>Você é maior que <b>18 anos</b>?</h1>
    <div class="choices">
    <a id="y">Sim</a>
    <a id="n">Não</a>
    </div>
  </div>
</div>

<!--<div class="main_container_page">-->

<!--</div>-->