<div class="log_message">
  <div class="message">
    <h1>Você é maior que <b>18 anos</b>?</h1>
    <div class="choices">
      <a style="cursor: pointer" id="y" class="waves-effect waves-light btn yes">Sim</a>
      <a style="cursor: pointer" id="n" class="waves-effect waves-light btn no">Não</a>
    </div>
  </div>
</div>

<!---------Menu--------->
<div class="collection">
  <% 12.times do %>
  <a href="#!" class="collection-item"><%= image_tag 'jack.png',width: 20,height: 50 %> Jack</a>
    <% end %>
</div>
<!--------------------->

  <div class="main">
  <div class="container-1">
    <div class="imgpep">
      <%= image_tag 'jack.png',width: 150, height: 550 %>
    </div>
    <div class="descri">
      <div class="mini">
        <h3>PEPSI NUTRITION FACTS</h3>
        <p>Calores 1150</p>
      </div>
      <div class="title">
        <h1>DELECIOUS <br>REFRESHINNG PEPSI</h1>
        <h4>Nutrition information is rounded as required by the FDA which <br> is why values somtimes look inconcistent when comparing <br> different sizes</h4>
      </div>
      <div class="btn_buy">
        <a href="">Buy now</a>
      </div>
    </div>
  </div>
</div>
</div>