/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
.main {
    color: #2E2F30;
    display: none;
    font-size: 12px !important;
}
nav{
    background: #2E2F30 !important;
}

.img-logo{
    margin-left: 20px;
    margin-top: 20px;
}
.img-logo img{
    width: 150px;
    height: 150px;
}

.container-1{
    display: flex;
    position: relative;

}

.imgpep{
    float: left;
    margin-left: 20%;
    margin-top: 60px;
}

.descri{
    margin-top: 100px;
    margin-left: 100px;
    color: black;
}
h1{
    font-size: 42px;
}
.btn_buy{
    padding-top: 20px;
    margin-top: 40px;
}
.btn_buy a {
    text-align: center;
    padding: 25px 32px;
    background: #666666;
    text-decoration: none;
    color:white;
}
.icons{
    right: 20px;
    padding-right: 20px;
    position: absolute;
    top:20px;
}
.yes{
    padding: 0px 46px!important;
}
.no{
    padding: 0px 46px!important;
}

.icons img {
    padding-left: 20px;
}

.imgpep img {
    animation-name: floating;
    animation-iteration-count:infinite ;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
    from {transform:translate(0, 0px)}
    65%   {transform:translate(0, 15px)}
    to {transform:translate(0, 0px)}
}
.navbar ul li:hover {
    transform: scale(1.1);
}
@keyframes fade_left {
    0%{
        transform: translateX(210px);
    }
}
.log_message {
    padding: 36px;
    top:30%;
    background: #F7F7F7;
    position: fixed;
    width: 100%;
    animation: alert 1s ease-in-out;
}
.log_message .message{
    text-align: center;
    margin: 10px;
}
.choices{
    margin-top: 32px;
}
@keyframes alert {
    0%{
        transform: translateY(150px);
    }
}

.collection{
    position: fixed !important;
    width: 30%;
    top: 23px;
    z-index: 1;
    overflow: auto;
    animation: fade_menu 0.5s ease-in-out;
    display: none;
}
.collection a{
    color: #2E2F30 !important;
    font-weight: bold!important;
    font-size: 12px!important;
    margin-left: 50px;
}
.collection img{
    margin: 0px 18px;
}
@keyframes fade_menu {
    0%{
        transform: translateX(-300px);
    }

}
.for_you{
    margin: 150px;
}
.up{
    text-align: center;
    color: #111111;
    animation: for_fade 1s ease-in-out ;
}
@keyframes for_fade {
    0%{
        transform: translateY(50px);
    }
}
@media only screen and (max-width:800px){
    .img-logo img{
        width: 150px;
    }
    .icons{
        right: 20px;
        padding-right: 20px;
        position: absolute;
        top:5px;
    }
    .imgpep img {
        width: 250px;
    }
    .imgpep{
        margin-left: 50px;
        position: absolute;
        display: none;
    }
    .navbar ul li{
        display: inline-block;
        padding-left: 120px;
    }
    .navbar ul {
        position:absolute;
        right: 35%;
        top: 25px;
        display: none;
    }
    .navbar ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    .descri{
        float: left;
        color: white;
        margin-left: 20px;
    }
    h1{
        font-size: 40px;
    }
    .container-1{
        display: block;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
}

