<div class="nav__container">
  <div class="nav__bar">
    <div class="uls">
      <ul>
        <li><a href="#">Whiskys</a></li>
        <li><a href="#">Populares</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Sobre</a></li>
      </ul>
    </div>
    <div class="logo">
      <%= image_tag 'whiskey_logo.png', class: "logo_nav" %>
    </div>
  </div>
</div>