<div class="container">
  <div class="header">
    <div class="img-logo">
      <%= image_tag 'whiskey_logo.png', class: "logo_nav",width: 200 %>
    </div>
    <div class="navbar">
      <ul>
        <li><a id="menu" style="cursor: pointer">Menu</a>
          <i style="display: none;cursor: pointer;color:#F7F7F7" class="small material-icons close">close</i>
        </li>
        <li><a href="#">Login</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Promo</a></li>
      </ul>
    </div>
  </div>
  <div class="icons">
    <%= image_tag 'bag.png'%>
    <%= image_tag 'user.png',width: 30%>
  </div>
</div>
  </div>
</div>
