
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html"><i class="material-icons">search</i></a></li>
      <li><%= link_to 'Inicio','/' %></li>
      <li><a id="menu" style="cursor: pointer">Menu</a>
        <i style="display: none;cursor: pointer;color:#F7F7F7" class="small material-icons close">close</i>
      </li>
      <li><%= link_to 'Para você','/for_you' %></li>
      <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </div>
</nav>